.custom-attendance-modal {
  --backdrop-opacity: 0.6;

  --width: 85%;
  --max-width: 340px;
  --height: auto;
  --border-radius: 16px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}


.custom-attendance-modal::part(content) {
  position: relative;
  margin-top: 100%;
  border-radius: 16px;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  overflow: hidden;
}

.modal-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}

.modal-title h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  color: #000000; 
}

.button-group {
  width: 100%;
  display: flex;
  gap: 12px;
}

.button-group ion-button {
  flex: 1;
  margin: 0;
  height: 44px;
  font-weight: 600;
}


.btn-confirm {
  background: #2dd36f !important;
  --background-activated: #28ba62 !important; 
  color: #ffffff !important;
  width: 50%; 
  text-align: center;
  padding-top: 5%;
}


.btn-cancel {
  background: #eb445a;
  --background-activated: #cf3c4f; 
  color: #ffffff;
  width: 50%; 
  text-align: center;
  padding-top: 5%;
}